@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  position: sticky;
  top: 0;

  padding: 2px 2px;
}

.logo img {
  /* width: 38%; */
  height: 40px;
  border: 2px solid white;
  border-radius: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: antiquewhite; */
}

.nav-list li {
  list-style: none;
  /* padding: 7px 19px; */
  padding: 1% 1.2%;
}

.nav-list li a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 22px;
}

.nav-list li a:hover {
  color: black;
  background-color: #bae6fd;
}

.background {
  /* background: rgba(0, 0, 0); */
  background-image: url("/static/img/color.jpg");
  background-size: cover;
  height: auto;
  background-blend-mode: darken;
  /* background-size: cover;
  background-blend-mode: lighten; */
}

.home {
  /* display: flex;
  flex-direction: column; */
  /* background-color: antiquewhite; */
  /* background: rgba(0, 0, 0, 0.7)
    url(../img/psychedelic-paper-shapes-with-copy-space.jpg); */
  /* display: none; */
  height: 100vh;
  /* background-image: url("/static/img/imm.jpg"); */
  /* background-color: cornflowerblue; */
}

.searchSec {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 8%;
  /* margin-left: 45px; */
}

/* #search {
  padding: 15px;
  font-size: 25px;
  border-radius: 10px;
} */

.btn {
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 125px;
  /* margin: 8px 14px; */
  color: black;
  border: 2px solid white;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(116, 116, 194);
}

#form {
  background-color: #eeecf0;
  width: 800px;
  height: 60px;
  border-radius: 10px;
  /* border: 2px solid grey; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputt {
  all: unset;
  font: 20px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  /* padding: 6px 10px; */
  padding: 0px 5px;
}

#form:hover {
  /* color: aquamarine; */
  background-color: #c7d2fe;
}
::placeholder {
  color: black;
  opacity: 0.7;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 2px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 26px;
}

.content {
  margin-top: 52px;
}

.container {
  max-width: 100%;
  /* height: auto; */
  width: fit-content;
  height: 60vh;
  width: 40%;
  margin: auto;
  /* border: 1px solid black; */
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  background-color: #bae6fd;
  /* background-size: cover; */
  padding: 20px;
}

.cImg {
  max-width: 100%;
  /* height: auto; */
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: antiquewhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.year {
  font-weight: bolder;
}

/* accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  /* padding: 18px; */
  /* width: 100%; */
  margin-left: 25%;
  margin-top: 8px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  /* background-color: #ccc; */
  background-color: #c7d2fe;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #bae6fd;
  display: none;
  margin-left: 25%;
  /* margin: auto; */
  overflow: hidden;
  width: 25%;
  max-width: 100%;
}

.filteritems {
  display: flex;
  flex-direction: row;
}

/* input[type="checkbox"] {
  appearance: checkbox !important;
} */
/* input.checkbox {
  display: inline-block;
} */

.check {
  list-style: none;
  margin-top: 3px;
  padding-right: 20px;
}

.lab {
  padding: 12px;
}

.block {
  text-align: center;
}

.para {
  font-size: 32px;
  font-weight: bold;
  color: rgb(24, 25, 26);
  font-family: "Pangolin", cursive;
}

.para-sm {
  font-size: 22px;
  font-family: "Pangolin", cursive;
}

.para-res {
  text-align: center;
  font-size: 28px;
  font-family: "Pangolin", cursive;
  color: black;
  font-weight: bold;
}

.contain {
  /* background-color: #ccc; */
}

/* @media only screen and (max-width: 1421px) {
  .panel {
    padding: 0 18px;
    background-color: rgb(96, 193, 0);
    
    margin-left: 25%;
    
    overflow: hidden;
    width: 25%;
  }
} */

@media only screen and (max-width: 1200px) {
  .container {
    width: fit-content;
  }
}

@media only screen and (max-width: 1135px) {
  .panel {
    width: fit-content;
  }
}

@media only screen and (max-width: 521px) {
  .panel {
    margin-left: 7%;
  }
}
