<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Home.css" />
    <link rel="stylesheet" href="css/About.css">
    <title>Search text in pdf</title>
  </head>
  <body>
    <nav class="navbar background">
      <ul class="nav-list">
        <div class="logo"><img src="img/icons8-logo-50.png" alt="logo" /></div>
        <li><a href="home.html" >Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <!-- <section class="sec">
        <div class="left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quaerat? Sapiente unde tempore voluptas et? Cupiditate enim reprehenderit repudiandae, cum aliquam obcaecati esse velit recusandae, quae inventore id, impedit maxime dicta ipsam? Rerum dolores praesentium officia deleniti, quod hic atque accusantium laudantium deserunt rem, ipsum debitis quas unde quam error?
        </div>
        <div class="right">
            <img src="img/323408.jpg" alt="">
        </div> -->
    <!-- </section> -->
    <section class="firstSection">
        <div class="box-main">
          <div class="firstHalf">
            <p class="text-big">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
            <p class="text-small">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
              cupiditate quidem atque repellat maiores totam, ipsa error cumque?
              Voluptatibus ipsam neque ipsa, porro tenetur aut fugit doloremque
              mollitia, inventore, culpa hic eaque!
            </p>
            <!-- <div class="buttons">
              <button class="btn">Subscribe</button>
              <button class="btn">Watch</button>
            </div> -->
          </div>
          <div class="secondhalf">
            <img src="img/323408.jpg" alt="image" />
          </div>
        </div>
      </section>
      <section class="firstSection">
        <div class="box-main">
          <div class="firstHalf">
            <p class="text-big">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
            <p class="text-small">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
              cupiditate quidem atque repellat maiores totam, ipsa error cumque?
              Voluptatibus ipsam neque ipsa, porro tenetur aut fugit doloremque
              mollitia, inventore, culpa hic eaque!
            </p>
            <!-- <div class="buttons">
              <button class="btn">Subscribe</button>
              <button class="btn">Watch</button>
            </div> -->
          </div>
          <div class="secondhalf">
            <img src="img/323408.jpg" alt="image" />
          </div>
        </div>
      </section>
  <script>
    // let vall = document.getElementById("ioe");
    // console.log(vall.checked);

    // function clicked() {
    //   console.log("clicked");
    //   vall.checked = true;
    // }
  </script>

  <script>
    // const f = document.getElementById("form");
    // const q = document.getElementById("query");
    // // const google = "https://www.google.com/search?q=site%3A+";
    // // const site = "pagedart.com";
    // function submitted(event) {
    //   event.preventDefault();
    //   // const url = google + site + "+" + q.value;
    //   const url = "https://www.google.com";
    //   const win = window.open(url, "_blank");
    //   win.focus();
    // }

    // f.addEventListener("submit", submitted);
  </script>
</html>
